@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');
.App {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  background-color: rgb(232, 238, 240);
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.headingText {
  font-size: 24px;
}

.upper-page {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5vh;
}

.machine-status-buttons {
  margin-left: 5vw;
  padding-right: 1vw;
  border: 1px;
  background: rgb(245, 244, 244);
  border-radius: 15px;
  border: 1px solid rgb(219, 216, 216);
  box-shadow: 0 10px 10px rgb(233, 227, 227);
  height:50vh; /* Adjust as needed */
}
.machine-status-buttons h2{
  text-align: center;
}
.status{
  padding: 1vw 2.4vw;
  border-radius: 15px;
  color: white;
}
.status.Start{
  background: rgb(79, 219, 79);
}
.status.Stop{
  background: rgb(231, 4, 4);
}
.status.Alarm{
  background: rgb(235, 156, 10);
}
.status-btn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vw;
}

.bottom-page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.overall-saw-status {
  width: 70%;
  margin-left: 1vw;
  margin-right: 1vw;
  border: 1px;
  background: rgb(245, 244, 244);
  border-radius: 15px;
  box-shadow: 0 10px 10px rgb(233, 227, 227);
  height: 50vh; /* Adjust as needed */
}
.overall-saw-status h2{
  text-align: center;
}

.line-container {
  width: 100%;
  height: 50vh;
  border: 1px;
  background: rgb(245, 244, 244);
  box-shadow: 0 10px 10px rgb(233, 227, 227);
  border-radius: 15px; /* Adjust as needed */
}
.line-container h2{
  text-align: center;
}

.mini-container {
  margin-left:5vw;
  margin-right: 1vw;
  border: 1px; 
  background: rgb(245, 244, 244);
  box-shadow: 0 10px 10px rgb(233, 227, 227);
  border-radius: 15px;/* Adjust as needed */
}
.mini-container h2{
  text-align: center;
}
.individual-stat-head{
  text-align: center;
}
.donut h2 {
  font-size: 18px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}

.flex-item {
  display: flex;
  margin-bottom: 10px;
}

.donut{
 border: 1px;
 background: rgb(245, 244, 244);
 box-shadow: 5px 10px 10px 10px rgb(233, 227, 227);
 border-radius:15px;
 margin: 5px; /* Add donut styling */
}

.bar {
  width: 100%;
  max-width: 800px;
  background: rgb(245, 244, 244);
  border: 1px;
  box-shadow: 0 10px 10px rgb(233, 227, 227);
  border-radius: 15px; 
}
.bar h2{
  text-align: center;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .machine-status-buttons {
    max-width: 100%;
  }
  .overall-saw-status {
    max-width: 100%;
  }
  .line-container {
    max-width: 100%;
  }
  .mini-container {
    max-width: 100%;
  }
  .bar {
    max-width: 100%;
  }
}
