/* Sidebar container */
.Sidebar {
  width:10vw; /* Adjust the width as needed */
  background-color: rgb(245, 244, 244);
  color: rgb(15, 13, 13);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
#link{
  text-decoration: none;
  color: #2F5597;
}
/* Logo */
.Logo {
  text-align: center;
}

/* Logo image */
.Logo img {
  width: 100%;
  margin-top: 1vh; /* Adjust the width as needed */
  height: 10vh; /* Maintain aspect ratio */
  display: block;
 /* margin: 0 auto;*/
  
   
}

/* Sidebar navigation links */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15% 0;
  color: #2F5597;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth hover transition */
}

li:hover {
  background-color: #fff; /* Darken the background on hover */
  width: 10vw; /* Add a left border on hover */
}
 
/* Active link style */
li.active {
  background-color: #fff;
  border-radius: 15px;
  width: 11vw; /* Change the background color for the active link */
}

/* Optional: Add custom styles for specific links */
li:nth-child(2) {
  color: #ffc107; /* Change the text color for the second link */
}

@media (max-width:1080px) {
  .Sidebar{
    width:90%;
  }
  
}