@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');
/* Sidebar container */
.Sidebar {
  font-family: 'Noto Sans', sans-serif;
  width:12vw; /* Adjust the width as needed */
  background-color: rgb(240, 243, 247);
  transition: all 0.3s;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 1vw;
  flex-direction: column;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
.Sidebar.minimized {
  width: 60px; /* Adjust as needed for your design */
  /* Your styles for the minimized sidebar */
}
.Sidebar.open .Sidebar-drawer {
  width: 240px;
  transition: width 0.3s;
  /* Your styles when the sidebar is open */
}
.Sidebar.closed .Sidebar-drawer {
  width: 60px; /* Adjust as needed to match the minimized width */
  transition: width 0.3s;
  /* Your styles when the sidebar is closed */
}
#link{
  text-decoration: none;
  
}
/* Logo */
.Logo {
  text-align: center;
}

/* Logo image */
.Logo img {
  width: 100%;
  margin-top: 1vh; /* Adjust the width as needed */
  height: 10vh; /* Maintain aspect ratio */
  display: block;
 /* margin: 0 auto;*/
  
   
}

/* Sidebar navigation links */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8% 0;
  color: rgb(32, 31, 31);
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth hover transition */
}

li:hover {
  background-color: rgb(213, 218, 223);
  border-radius: 4px ; /* Darken the background on hover */
  width: 11vw; /* Add a left border on hover */
}
 
/* Active link style */
li.active {
  background-color: rgb(213, 218, 223);
  border-radius: 4px;
  width: 11vw; /* Change the background color for the active link */
}

/* Optional: Add custom styles for specific links */
li:nth-child(2) {
  color: #ffc107; /* Change the text color for the second link */
}

@media (max-width:1080px) {
  .Sidebar{
    width:90%;
  }
  
}