/* StatusButton.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');
.status-button {
    padding: 25px 25px;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: #4472C4;
    width: 9vw;
    transition: background-color 0.3s;
    border-radius: 20%;
  }
  
  .status-button.Cutting {
    background-color:#4472C4;
    color: #fff;
  }
  
  .status-button.Not-Cutting {
    background-color: #7F7F7F;
    color: #fff;
  }
  
  .status-button:hover {
    background-color: #333;
    color: #fff;
  }
  