.top-page{
    display: flex;
}
.machine-image{
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 5%;
    background-color: rgb(248, 246, 246);
    border: 1px solid black;
    border-radius: 5%;
}
.machine-image h2{
    text-align: center;
}
.machine-img{
    max-width: 70%;
    margin-left: 15%;
}
.machine-details{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(248, 246, 246);
    margin-left:25%;
    margin-top: 1%;
    margin-right: 5%;
    border-radius: 15px;
}
.btn-item{
    display: flex;
    width: 58rem;
    border: 1px solid black;
    background-color: rgb(248, 246, 246);
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 5%;
}
.machine-status-btn{
    display: flex;
}
.saw-pos-chart{
    margin-top: 1%;
    width: 64rem;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(248, 246, 246);
    padding: 5% 0 4% 0;
    border-radius:5%;
}
.components-container{
    display: flex;
    border: 1px solid black;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 1%;
    padding: 2% 2% 1% 2%;
    background-color: rgb(248, 246, 246);
    border-radius: 15px;
}
.btn-container{
    padding-left: 10%;
    display: flex;
}
#cont{
    margin: 0% 5%;
}
.sensor-data{
    border:1px solid black;
    border-radius: 15px;
}

#sensor-btn{
   width:30%;
   margin:2% 1% 1% 2%;   
}