/* Sidebar container */
.Sidebar {
  width:8%; /* Adjust the width as needed */
  background-color: rgb(248,246,246);
  color: rgb(15, 13, 13);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Logo */
.Logo {
  text-align: center;
  margin-bottom: 20%;
}

/* Logo image */
.Logo img {
  width: 90%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block;
 /* margin: 0 auto;*/
  margin-right: 19%;
   
}

/* Sidebar navigation links */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15% 0;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth hover transition */
}

li:hover {
  background-color: #b39d9d; /* Darken the background on hover */
  border-left: 3px solid #ff5722; /* Add a left border on hover */
}

/* Active link style */
li.active {
  background-color: #ff5722; /* Change the background color for the active link */
}

/* Optional: Add custom styles for specific links */
li:nth-child(2) {
  color: #ffc107; /* Change the text color for the second link */
}

@media (max-width:1080px) {
  .Sidebar{
    width:90%;
  }
  
}