/* StatusButton.css */

.status-button {
    padding: 30px 30px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    width: 8rem;
    transition: background-color 0.3s;
    border-radius: 20%;
  }
  
  .status-button.Cutting {
    background-color:#4472C4;
    color: #fff;
  }
  
  .status-button.Not-Cutting {
    background-color: #7F7F7F;
    color: #fff;
  }
  
  .status-button:hover {
    background-color: #333;
    color: #fff;
  }
  